.top {
    margin-top: 20px;
}

.maintext {
    width: 300px;
    height: 300px;
}

.card {
    border: 1px black solid;
    /* можно ширину поменьше сделать, но я думаю так лучше выглядит */
    width: auto;
}